* {
  box-sizing: border-box;
}

/*NavBar*/
  #nav-bar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  
  #nav-bar-li {
    float: left;
  }
  
  #nav-bar-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #nav-bar-li a:hover {
    background-color: rgb(41, 102, 255);
  }
/*Main*/
h1{
  color: white;
  text-decoration: double;
}
  #wrapper {
    padding: 10px;
    background-color: rgb(151, 151, 151);
  }

body {
    background-color: rgb(41, 102, 255);
}
/*Képek*/
div#galeria {margin: 0 auto; 
            width: 90%;
            text-align: center;
          }
div.kep { display: inline-block; }
div.kep img { height: 200px; }
/*Táblázat*/
table{
  width: 100%;
}
table,th,td {
  border : 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
th,td {
  padding: 5px;
}
/*cimlap*/

.cimlap2 {
  text-align: center;
}
@media only screen and (min-width: 1120px) {
  .cimlap1 {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
  }
}
@media only screen and (max-width: 1120px) {
  .cimlap1 {
    text-align: center;
  }
}
.terkep {
  color: black;
  font-weight: bolder;
}